<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HelloUsers</title>
</head>
<body>
<h1>User</h1>
<h2>View users</h2>

<table>
    <tr>
        <th>User name</th>
        <th>Last name</th>
        <th>Age</th>
    </tr>
    <tr th:each="user: ${users}" >
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>

<h2>Add user</h2>
<form action="/users" method="post">
    Name: <input type="text" name="name"><br />
    LastName: <input type="text" name="lastname"><br />
    Age: <input type="number" step="any" name="age"><br />
    <button type="submit">Add user</button>
</form>
</body>
</html>